/**
 * Theme - Dark.
 */

body {
    &.dark-theme {
        --color-body: #BABABA;
        --color-paragraph: #BABABA;
        --color-dark-body: #1B1B1B;
        --color-dark-body2: #202020;
        --font-title: "Syne", sans-serif;


        background-image: url(../../media/noise.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-color: $color-dark-body;
        main {
            background-color: inherit;
        }
        .section-heading {
            .heading-title {
                color: $color-white;
                font-weight: $font-bold;
            }
        }
        .footer-widget-title {
            font-family: $font-body;
        }
    }
}