/**
 * Layout - Footer.
 */

.footer-1 {
    z-index: 1;
    background-color: #00081B;
    &.style-2 {
        background-color: #02081B;
    }
    &.style-3 {
        .rt-blur-shape {
           
            ul {
                li {
                    z-index: 1;
                    &:nth-child(1) {
                        background-color: rgba(27, 34, 54, .5);
                    }
                   
                    &:nth-child(2) {
                        top: -55%;
                        background-color: rgba(54, 38, 22, .5);
                    }
                    &:nth-child(3) {
                
                        background-color: rgba(30, 42, 75, .5);
                        right: -10%;
                    }
                    &:nth-child(4) {
                       
                        background-color: rgba(52, 61, 87, .5);
                        right: -10%;
                       
                    }
                }
            }
        }
        .footer-top {
            .desc {
                color: $color-gray-font;
            }
        }
        .footer-bottom {
            border-top: 0;
            background-color: #00081B;
            .footer-bottom-layout {
                border-top: 1px solid #373C47;
                padding: 33px 0 20px;
                .shape {
                    li {
                        position: absolute;
                        &:nth-child(1) {
                            top: -23px;
                            right: 0;
                        }
                        &:nth-child(2) {
                            top: -23px;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    &.style-4 {
        background-color: $color-white;
        .rt-blur-shape {
            ul {
                li {
                    z-index: 1;
                    border-radius: 322px;
                    width: 322px;
                    height: 322px;
                    filter: blur(100px);
                    &:nth-child(1) {
                        background-color: #EEFDE8;
                    }
                    &:nth-child(2) {
                        background-color: #FFFBE8;
                        top: 0;
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
        .footer-top {
            .footer-contact {
                .rt-contact {
                    &.phone {
                        a {
                            color: $color-black;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                    &.mail {
                        a {
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
            .footer-bottom-text {
                a {
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
            .footer-link {
                ul {
                    li {
                        a {
                            &::after {
                                background-color: $color-primary;
                            }
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
            .input-group {
                .form-control {
                    border: 1px solid #E1E1E1;
                    color: $color-black;
                    &:focus {
                        border-color: $color-black;
                    }
                }
                .btn-outline-secondary {
                    background-color: $color-lime;
                    svg {
                        color: $color-black;
                    }
                }
            }
            .item-social {
                ul {
                    li {
                        a {
                            background-color: #EEEEEE;
                            svg {
                                color: $color-black;
                            }
                        }
                    }
                }
            }
        }
    }
    &.style-5 {
        background-color: $color-white;
        .rt-blur-shape {
            ul {
                li {
                    &:nth-child(1) {
                        background-color: #E8F0FD;
                    }
                    &:nth-child(2) {
                        background-color: #C9C8FF;
                    }
                }
            }
        }
        .footer-top {
            .footer-contact {
                .rt-contact {
                    color: $color-body;
                    font-weight: $font-medium;
                    &.phone {
                        a {
                            color: $color-black-light;
                            font-weight: $font-bold;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                    &.mail {
                        a {
                            color: $color-black-light;
                            font-weight: $font-medium;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
            .footer-link {
                ul {
                    li {
                        a {
                            color: $color-body;
                            font-weight: $font-medium;
                            &::after {
                                background-color: $color-primary;
                            }
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
            .input-group {
                .form-control {
                    border: 1px solid #E1E1E1;
                    color: $color-black;
                    &:focus {
                        border-color: $color-black;
                    }
                }
                .btn-outline-secondary {
                    background-color: $color-primary;
                    svg {
                        color: $color-white;
                    }
                }
            }
            .item-social {
                ul {
                    li {
                        a {
                            background-color: #EEEEEE;
                            &:hover {
                                background-color: $color-primary;
                                svg {
                                    color: $color-white;
                                }
                            }
                            svg {
                                color: $color-black;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom {
            border-top: 1px solid #e1e1e1;
            background-color: $color-white;
            padding: 40px 0;
            p {
                color: $color-gray-font;
                a {
                    &:hover {
                        color: $color-black-light;
                    }
                }
            }
        }
    }
    &.style-6 {
        background-color: transparent;
        .footer-top {
            .footer-contact {
                .address {
                    color: $color-white;
                }
            }
            .input-group {
                .form-control {
                    border-color: #e1e1e1;
                }
                .btn-outline-secondary {
                    svg {
                        color: $color-black-dark;
                    }
                }
            }
            .footer-link {
                ul {
                    li {
                        a {
                            color: $color-body;
                        }
                    }
                }
            }
            .item-social {
                ul {
                    li {
                        a {
                            background-color: #EEEEEE;
                            &:hover {
                                background-color: $color-primary;
                                svg {
                                    color: $color-black;
                                }
                            }
                            svg {
                                color: $color-black-dark;
                            }
                        }
                    }
                }
            } 
        }
        .footer-bottom {
            background-color: transparent;
            border-top: 1px solid #2C2C2C;
            padding: 20px 0;
            .footer-bottom-text {
                color: $color-body;
                a {
                    color: $color-body;
                }
            }
        }
    }
    &.style-7 {
        background-color: #181818;
        background-image: url(../../media/footer/footer-bg.svg);
        background-repeat: no-repeat;
    }
}

.footer-top {
    padding: 50px 0;
    z-index: 1;
    position: relative;
    @include media-only ("sm", min) {
        padding: 100px 0;
    }
    @include media-only ("lg", min) {
        padding: 120px 0 120px;
    }
}
.rt-footer-shape {
    top: 50px;
    left: 50px;
}

.rt-blur-shape {
    display: none;
    @include media-only ("lg", min) {
        display: block;
    }
    ul {
        li {
            width: 431px;
            height: 431px;
            border-radius: 431px;
            background: #231435;
            filter: blur(100px);
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                bottom: -36%;
                left: 0;
            }
            &:nth-child(2) {
                top: -40%;
                left: 17%;
                background-color: #141C35;
            }
            &:nth-child(3) {
                top: -35%;
                right: -10%;
                background-color: #141C35;
            }
            &:nth-child(4) {
                bottom: -35%;
                right: 5%;
                background-color: #130B31;
            }
        }
    }
}


.footer-link {
    ul {
        li {
            position: relative;
            &:last-child {
                .link {
                    margin-bottom: 0;
                }
            }
            .link {
                position: relative;
                transition: all .4s ease;
                margin-bottom: 10px;
                color: $color-gray-font;
                font-weight: $font-medium;
                &:hover {
                    &::after {
                        width: 100%;
                        left: 0;
                        opacity: 1;
                    }
                }
                &::after {
                    content: "";
                    height: 1px;
                    width: 0;
                    background-color: $color-white;
                    position: absolute;
                    bottom: 1px;
                    right: 0;
                    opacity: 0;
                    transition: .5s;
                }
                &:hover {
                    color: $color-white;
                }
            }
        }
    }
}

.footer-contact {
    .rt-contact {
        color: $color-gray-font;
        font-weight: $font-medium;
        line-height: 30px;
        &.address {
            margin-bottom: 15px;
        }
        &.phone {
            font-size: 20px;
            font-weight: $font-bold;
            line-height: 26px;
            margin-bottom: 10px;
            a {
                color: #F7F6F6;
                transition: all .3s ease-in-out;
                &:hover {
                    color: $color-gray-font;
                }
            }
        }
        &.mail {
            a {
                color: $color-gray-font;
                transition: all .3s ease-in-out;
                &:hover {
                    color: $color-white;
                }
            }
        }
    }
}

.footer-newsletter {
    .logo {
        margin-bottom: 35px;
    }
    p {
        font-weight: $font-medium;
        color: $color-gray-font;
        margin-bottom: 12px;
    }
    .text {
        color: $color-gray-font;
        font-weight: $font-medium;
        a {
            color: $color-gray-font;
            transition: all .3s ease-in-out;
            &:hover {
                color: $color-white;
            }
        }
    }
}



.footer-bottom {
    border-top: 1px solid #232323;
    background-color: #00081B;
    @include media-only ("sm", min) {
        padding: 15px 0;
    }
}


.footer-bottom-text {
    color: $color-gray-font;
    font-weight: $font-medium;
    a {
        color: $color-gray-font;
        transition: all .3s ease-in-out;
        &:hover {
            color: $color-white;
        }
    }
}

.footer-btm-cta-wrap {
    border-top: 0;
    .rt-footer-shape-2 {
        top: -7px;
        right: 14%;
    }
    .rt-footer-shape-3 {
        bottom: -33px;
        right: 13.5%;
    }
}

.footer-widget-title {
    font-weight: $font-bold;
    font-size: 20px;
    color: $color-white;
    margin-bottom: 15px;
    line-height: 30px;
    text-transform: uppercase;
    &.style-2 {
        color: $color-black;
        font-weight: $font-extra-bold;
    }
    &.style-3 {
        color: $color-black-light;
        font-weight: $font-extra-bold;
    }
}




