.rt-project-wrap {
    padding-top: 150px;
    z-index: 1;
    .stroke-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20%;
    }
    .rt-blur-shape {
        ul {
            li {
                &:nth-child(1) {
                    background-color: #DBF2F5;
                    bottom: -20%;
                    left: 0;
                }
                &:nth-child(2) {
                    background-color: #F5E4E1;
                    top: 10%;
                    right: 100px;
                    left: auto;
                }
            }
        }
    }
}

.rt-project-box {
    &:hover {
        .project-img-box {
            .item-img {
                a {
                    img {
                        filter: grayscale(0);
                        transform: scale(1.05);
                    }
                }
            }
            .project-content {
                visibility: visible;
                opacity: 1;
                bottom: 30px;
            }
            .arrow-button {
                .arrow-btn {
                    background-color: $color-secondary;
                    border-color: $color-black;
                }
            }
        }
    }
    .item-img {
        position: relative;
        overflow: hidden;
        border-radius: $border-radius-xl;
        clip-path: polygon( 95.37% 0%,95.37% 0%,96.121% 0.06%,96.834% 0.234%,97.498% 0.512%,98.105% 0.885%,98.644% 1.344%,99.107% 1.878%,99.483% 2.479%,99.764% 3.137%,99.939% 3.843%,100% 4.587%,100% 78.211%,100% 78.211%,99.939% 78.955%,99.764% 79.661%,99.483% 80.319%,99.107% 80.92%,98.644% 81.455%,98.105% 81.913%,97.498% 82.286%,96.834% 82.564%,96.121% 82.738%,95.37% 82.798%,87.269% 82.798%,87.269% 82.798%,86.518% 82.858%,85.805% 83.032%,85.141% 83.31%,84.534% 83.683%,83.995% 84.142%,83.532% 84.676%,83.156% 85.277%,82.875% 85.935%,82.699% 86.641%,82.639% 87.385%,82.639% 95.413%,82.639% 95.413%,82.578% 96.157%,82.403% 96.863%,82.122% 97.521%,81.746% 98.122%,81.283% 98.656%,80.743% 99.115%,80.137% 99.488%,79.473% 99.766%,78.76% 99.94%,78.009% 100%,4.63% 100%,4.63% 100%,3.879% 99.94%,3.166% 99.766%,2.502% 99.488%,1.895% 99.115%,1.356% 98.656%,0.893% 98.122%,0.517% 97.521%,0.236% 96.863%,0.061% 96.157%,0% 95.413%,0% 78.211%,0% 70.183%,0% 4.587%,0% 4.587%,0.061% 3.843%,0.236% 3.137%,0.517% 2.479%,0.893% 1.878%,1.356% 1.344%,1.895% 0.885%,2.502% 0.512%,3.166% 0.234%,3.879% 0.06%,4.63% 0%,95.37% 0% );
        a {
            img {
                border-radius: $border-radius-xl;
                filter: grayscale(100%);
                transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                clip-path: polygon( 95.37% 0%,95.37% 0%,96.121% 0.06%,96.834% 0.234%,97.498% 0.512%,98.105% 0.885%,98.644% 1.344%,99.107% 1.878%,99.483% 2.479%,99.764% 3.137%,99.939% 3.843%,100% 4.587%,100% 78.211%,100% 78.211%,99.939% 78.955%,99.764% 79.661%,99.483% 80.319%,99.107% 80.92%,98.644% 81.455%,98.105% 81.913%,97.498% 82.286%,96.834% 82.564%,96.121% 82.738%,95.37% 82.798%,87.269% 82.798%,87.269% 82.798%,86.518% 82.858%,85.805% 83.032%,85.141% 83.31%,84.534% 83.683%,83.995% 84.142%,83.532% 84.676%,83.156% 85.277%,82.875% 85.935%,82.699% 86.641%,82.639% 87.385%,82.639% 95.413%,82.639% 95.413%,82.578% 96.157%,82.403% 96.863%,82.122% 97.521%,81.746% 98.122%,81.283% 98.656%,80.743% 99.115%,80.137% 99.488%,79.473% 99.766%,78.76% 99.94%,78.009% 100%,4.63% 100%,4.63% 100%,3.879% 99.94%,3.166% 99.766%,2.502% 99.488%,1.895% 99.115%,1.356% 98.656%,0.893% 98.122%,0.517% 97.521%,0.236% 96.863%,0.061% 96.157%,0% 95.413%,0% 78.211%,0% 70.183%,0% 4.587%,0% 4.587%,0.061% 3.843%,0.236% 3.137%,0.517% 2.479%,0.893% 1.878%,1.356% 1.344%,1.895% 0.885%,2.502% 0.512%,3.166% 0.234%,3.879% 0.06%,4.63% 0%,95.37% 0% );
            }
        }
    }
}

.project-img-box {
    .arrow-button {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.project-content {
    border-radius: 15px;
    background: linear-gradient(96deg, rgba(0, 0, 0, 0.44) 15.13%, rgba(0, 0, 0, 0.64) 100%);
    backdrop-filter: blur(5px);
    padding: 20px;
    position: absolute;
    left: 30px;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    width: 300px;
    .inner-title {
        font-size: 24px;
        a {
            color: $color-white;
            transition: all .3s ease-in-out;
            &:hover {
                color: $color-primary;
            }
        }
    }
    .designation {
        color: $color-white;
    }
}

.rt-project-slider {
    padding-bottom: 100px;
    .swiper-scrollbar {
        border-radius: 100px;
        border: 1px solid #8B8B8B;
        background: #FFF;
        height: 17px;
        bottom: 20px;
        width: 100%;
        left: 0;

        .swiper-scrollbar-drag {
            border-radius: 100px;
            border: 2px solid #1A1A1A;
            background-color: $color-primary;
            box-shadow: 4px 7px 0px 0px rgba(0, 0, 0, 0.20);
            display: inline-block;
            color: $color-white;
            width: 156px !important;
            height: 40px; 
            padding: 10px 0;
            top: -15px;
            line-height: 18px;
            text-align: center;
            .left-arrow {
                color: $color-white;
                margin-right: 10px;
            }
            .right-arrow {
                color: $color-white;
                margin-left: 10px;
            }
        }
    }
    .swiper-pagination-progressbar.swiper-pagination-horizontal {
        height: 15px;
        border-radius: 100px;
        background-color: transparent;
        top: auto;
        bottom: 21px;
        // z-index: 51;
        .swiper-pagination-progressbar-fill {
            background: #F9BA19;
            border-radius: 100px;
        }
    }
}
