.rt-about-wrap {
    padding-top: 150px;
    position: relative;
    z-index: -1;
    @include media-only ("lg", min) {
        margin-top: -20px;
    }
    .rt-blur-shape {
        ul {
            li {
                &:nth-child(1) {
                    background-color: #D9F7EE;
                    left: 0;
                    bottom: 0;
                }
                &:nth-child(2) {
                    background-color: #F5E5FF;
                    left: auto;
                    right: 5%;
                    top: 10%;
                }
                &:nth-child(3) {
                    background-color: #EAE5FF;
                    top: -20%;
                    left: 50%;
                    transform: translateX(-50%);
                    right: auto;
                }
            }
        }
    }

}

.rt-about-img {
    position: relative;
    img {
        border-radius: 30px;
        clip-path: polygon( 5.445% 0%,5.445% 0%,4.561% 0.085%,3.724% 0.331%,2.943% 0.725%,2.229% 1.253%,1.595% 1.902%,1.051% 2.659%,0.608% 3.509%,0.278% 4.441%,0.071% 5.44%,0% 6.494%,0% 50.866%,0% 70.346%,0% 93.506%,0% 93.506%,0.071% 94.56%,0.278% 95.559%,0.608% 96.491%,1.051% 97.342%,1.595% 98.098%,2.229% 98.747%,2.943% 99.275%,3.724% 99.669%,4.561% 99.915%,5.445% 100%,49.183% 100%,49.183% 100%,50.066% 99.915%,50.904% 99.669%,51.685% 99.275%,52.399% 98.747%,53.033% 98.098%,53.577% 97.342%,54.02% 96.491%,54.35% 95.559%,54.557% 94.56%,54.628% 93.506%,54.628% 83.333%,54.628% 83.333%,54.699% 82.28%,54.906% 81.281%,55.236% 80.349%,55.678% 79.498%,56.223% 78.742%,56.857% 78.093%,57.57% 77.565%,58.352% 77.171%,59.189% 76.925%,60.073% 76.84%,94.555% 76.84%,94.555% 76.84%,95.439% 76.755%,96.276% 76.509%,97.058% 76.115%,97.771% 75.587%,98.405% 74.938%,98.95% 74.181%,99.392% 73.331%,99.722% 72.399%,99.929% 71.4%,100% 70.346%,100% 6.494%,100% 6.494%,99.929% 5.44%,99.722% 4.441%,99.392% 3.509%,98.95% 2.659%,98.405% 1.902%,97.771% 1.253%,97.058% 0.725%,96.276% 0.331%,95.439% 0.085%,94.555% 0%,5.445% 0% );
    }
    .rt-shape {
        position: absolute;
        top: -50px;
        right: -50px;
        img {
            animation: rt-circle 5s linear infinite;
        }
    }
}
.about-top-shape {
    top: -60px;
    right: -43px
}
.about-counter-box {
    background-color: #FF71CD;
    border-radius: 15px;
    padding: 20px 28px;
    width: 230px;
    height: 91px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    .counterUp {
        color: $color-white;
        font-size: 38px;
        font-weight: $font-extra-bold;
        line-height: 16px;
        text-transform: uppercase;
        -webkit-text-stroke: inherit;
        &::before {
            display: none;
        }
    }
    .counting-text {
        color: $color-white;
        font-size: 38px;
        font-weight: $font-extra-bold;
        line-height: 16px;
        text-transform: uppercase;
    }
    .label {
        color: $color-white;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 10px;
        line-height: 1.2;
    }
}

.rt-about-content {
    @include media-only ("lg", min) {
        padding-left: 25px;
    }
    .text-box {
        p {
            color: $color-body;
            margin-bottom: 30px;
        }
        .rt-feature-list {
            margin-bottom: 40px;
            li {
                .rt-shape {
                    background-color: $color-primary;
                    svg {
                        color: $color-white;
                    }
                }
            }
        }
    }
    &.style-2 {
        padding-left: 0;
        .text-box {
            .rt-feature-list {
                li {
                    .rt-shape {
                        background-color: #F0F0F0;
                        svg {
                            color: #323232;
                        }
                    }
                }
            }
        }
    }
    &.style-3 {
        position: relative;
        @include media-only ("lg", min) {
            padding-left: 65px;
            padding-right: 30px;
        }
        .shape {
            position: absolute;
            top: -30px;
            right: 0;
            svg {
                color: #E1E1E1;
            }
        }
        .text-box {
            .section-heading {
                .heading-title {
                    position: relative;
                    z-index: 1;
                    &::before {
                        content: "";
                        width: 367px;
                        height: 19px;
                        background-color: $color-lime;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                    }
                }
                .drop-cap {
                    &::first-letter {
                        -webkit-initial-letter: 3;
                        initial-letter: 3;
                        color: $color-primary;
                        font-weight: $font-bold;
                        margin-right: 20px;
                    }
                }
            }
            .rt-feature-list {
                li {
                    .rt-shape {
                        background-color: $color-green-400;
                        svg {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
    &.style-4 {
        .text-box {
            .section-heading {
                @include media-only ("lg", min) {
                    margin-left: -73%;
                }
                .heading-title {
                    text-transform: capitalize;
                    margin-bottom: 40px;
                }
            }
            p {
                margin-bottom: 20px;
            }
            .quixa-button {
                margin-top: 30px;
                .quixa-btn {
                    border-radius: 6px;
                    background-color: $color-primary;
                }
            }
        }
    }
}

.rt-about-img-2 {
    z-index: 1;
    img {
        border-radius: 20px;
        clip-path: polygon( 100% 63.03%,100% 93.939%,100% 93.939%,99.918% 94.922%,99.682% 95.855%,99.305% 96.725%,98.798% 97.519%,98.175% 98.225%,97.449% 98.831%,96.633% 99.324%,95.739% 99.691%,94.78% 99.921%,93.769% 100%,6.231% 100%,6.231% 100%,5.22% 99.921%,4.261% 99.691%,3.367% 99.324%,2.551% 98.831%,1.825% 98.225%,1.202% 97.519%,0.695% 96.725%,0.318% 95.855%,0.082% 94.922%,0% 93.939%,0% 58.788%,0% 58.788%,0.082% 57.805%,0.318% 56.872%,0.695% 56.003%,1.202% 55.209%,1.825% 54.502%,2.551% 53.897%,3.367% 53.404%,4.261% 53.036%,5.22% 52.807%,6.231% 52.727%,33.645% 52.727%,33.645% 52.727%,38.698% 52.331%,43.491% 51.182%,47.961% 49.345%,52.043% 46.881%,55.673% 43.852%,58.787% 40.321%,61.32% 36.35%,63.209% 32.002%,64.39% 27.34%,64.798% 22.424%,64.798% 6.061%,64.798% 6.061%,64.879% 5.078%,65.115% 4.145%,65.493% 3.275%,66% 2.481%,66.622% 1.775%,67.348% 1.169%,68.165% 0.676%,69.059% 0.309%,70.017% 0.079%,71.028% 0%,93.769% 0%,93.769% 0%,94.78% 0.079%,95.739% 0.309%,96.633% 0.676%,97.449% 1.169%,98.175% 1.775%,98.798% 2.481%,99.305% 3.275%,99.682% 4.145%,99.918% 5.078%,100% 6.061%,100% 58.788%,100% 63.03% );
    }
}

.about-shape-box {
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: 2;
}
.moving-text-shape {
    .icon-shape {
        height: 90px;
        width: 90px;
        background-color: #f9f9f9;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #DFDFDF;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .about-round-shape {
        height: 180px;
        width: 180px;
        background-color: $color-white;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        img {
            animation-duration: 10s;
        }
    }
}

.dot-shape {
    position: absolute;
    top: -26px;
    right: -32px;
    z-index: -1;
    img {
        border-radius: 0;
        animation: move2 2s infinite;
    }
}

.rt-image-box {
    z-index: 1;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        background-image: url(../../media/other/pricing-1.svg);
        background-repeat: no-repeat;
        background-position: top;
        // background-size: cover;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .rt-blr-shape {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-color: rgba(202, 251, 213, .5);
        filter: blur(125px);
        height: 427px;
        width: 427px;
        border-radius: 427px;
    }
    .quixa-button-2 {
        position: absolute;
        top: -25px;
        right: 25px;
        .quixa-btn-2 {
            background-color: #F35353;
            box-shadow: -8px 8px 0px 0px #D92F31;
            &:hover {
                box-shadow: none;
            }
        }
    }
}

.rt-about-wrap-2 {
    padding: 140px 0 0 0;
    @include media-only ("lg", min) {
        margin-bottom: -140px;
    }
}

.rt-about-layout {
    z-index: 1;
    padding: 60px 80px 60px 0;
    &::before {
        content: "";
        height: 100%;
        width: 85%;
        border-radius: 25px;
        background-color: #FBFBFB;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .item-img {
        img {
            border-radius: $border-radius-lg;
        }
    }
}

.rt-about-wrap-3 {
    padding-top: 180px;
    z-index: 1;
    .rt-blur-shape2 {
        ul {
            li {
                height: 150px;
                width: 150px;
                border-radius: 50%;
                &:nth-child(1) {
                    background-color: #529099;
                    top: 35%;
                    right: 40%;
                }
                &:nth-child(2) {
                    background-color: #935299;
                    bottom: 0;
                    left: 18%;
                }
            }
        }
    }
    .rt-about-img {
        img {
            clip-path: inherit;
        }
    }
}

.exprience-time-box {
    bottom: 0;
    left: 0;
    .duration {
        font-family: $font-title;
        font-size: 100px;
        font-weight: $font-bold;
        line-height: 30px; 
        color: transparent;
        -webkit-text-stroke: 2px $color-white;
        span {
            -webkit-text-stroke: inherit;
            color: $color-white;
            font-size: 70px;
            position: absolute;
        }
    }
    .text {
        color: $color-white;
        font-family: $font-title;
        font-size: 18px;
        font-weight: $font-bold;
        line-height: 22px;
        padding-top: 28px;
    }
}
