

/*------------------- countdown -------------------*/

.rt-counter-wrap {
    padding-top: 120px;
}
.rt-counter-wrap-2 {
    padding-top: 80px;
    padding-bottom: 125px;
    background-color: #FBFBFB;
}
.rt-counter-wrap-3 {
    .text-box {
        p {
            color: $color-paragraph;
            font-size: 18px;
        }
    }
}

.counterUp {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 130px;
    font-weight: $font-black;
    cursor: pointer;
    text-decoration: none;
    -webkit-text-stroke: 2px #565656;
    color: transparent;
    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
    &:before {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        color: $color-primary;
        white-space: nowrap;
        content: attr(data-hover);
        transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
    }
}
.post-fix {
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    color: #fff;
    font-size: 130px;
    font-weight: $font-black;
    cursor: pointer;
    text-decoration: none;
    -webkit-text-stroke: 2px #565656;
    color: transparent;
    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
    &:before {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        color: $color-primary;
        white-space: nowrap;
        content: attr(data-hover);
        transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
    }
}

.rt-counter-layout {
   gap: 50px;
}

.rt-counter-box {
    position: relative;
    flex: 1;
    z-index: 1;
    &:hover {
        &::before {
            visibility: hidden;
            opacity: 0;
        }
        &::after {
            visibility: visible;
            opacity: 1;
            width: 100%; 
            left: 0%;
        }
        .counterUp {
            -webkit-text-stroke: 2px $color-primary;
            color: transparent;
            &::before {
                width: 100%;
            }
        }
        .post-fix {
            -webkit-text-stroke: 2px $color-primary;
            color: transparent;
            &::before {
                width: 100%;
            }
        }
        .label {
            color: $color-primary;
        }
    }
    .counterUp {
        position: relative;
    }
    .bg-shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: -1;
        svg {
            color: #FDE3E3;
        }
        &.style-2 {
            svg {
                color: #E3FDE9;
            }
        }
        &.style-3 {
            svg {
                color: #E4E3FD;
            }
        }
        &.style-4 {
            svg {
                color: #F8FDE3; 
            }
        }
    }
    .label {
        color: $color-black;
        font-size: 20px;
        font-weight: $font-bold;
        text-transform: capitalize;
        transition: all .4s ease-in-out;
        text-align: center;
        @include media-only ("lg", min) {
            margin-top: -34px;
        }
    }
    &.style-2 {
        .counterUp {
            color: $color-black-dark;
            font-size: 100px;
            font-weight: $font-extra-bold;
            line-height: 130px;
            letter-spacing: 5px;
            text-transform: capitalize;
            -webkit-text-stroke: 0;

        }
        .post-fix {
            color: $color-black-dark;
            font-size: 100px;
            font-weight: $font-extra-bold;
            letter-spacing: 5px;
            text-transform: capitalize;
            -webkit-text-stroke: 0;
            position: inherit;
        }
        .label {
            font-size: 18px;
            color: $color-body;
            margin-top: -15px;
        }
    }
    &.style-3 {
        .counterUp {
            background-image: linear-gradient(to top, #F8FFDD, #405100);
            -webkit-text-stroke-color: transparent;
            background-clip: text;
            -webkit-text-stroke-color: #000;
            -webkit-text-fill-color: transparent;
        }
        .post-fix {
            background-image: linear-gradient(to top, #F8FFDD, #405100);
            -webkit-text-stroke-color: transparent;
            background-clip: text;
            -webkit-text-stroke-color: #000;
            -webkit-text-fill-color: transparent;
        }
        .label {
            color: #e1e1e1;
        }
    }
}

.counter-blr-shape {
    height: 160px;
    width: 160px;
    border-radius: 160px;
    background-color: rgba(186, 241, 130, .5);
    filter: blur(125px);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
    &.style-2 {
        background-color: rgba(226, 130, 241, .5);
    }
    &.style-3 {
        background-color: rgba(130, 135, 241, .5);
    }
    &.style-4 {
        background-color: rgba(130, 241, 208, .5);
    }
}