.text-box {
    .subtitle {
        color: $color-gray-font;
        font-weight: $font-semibold;
        letter-spacing: 0.96px;
        text-transform: uppercase;
    }
    .title {
        color: $color-black;
        font-size: 48px;
        font-weight: $font-bold;
        line-height: 52px;
        margin-bottom: 15px;
    }
    p {
        color: $color-black;
        font-size: 17px;
        margin-bottom: 18px;
    }
    .rt-feature-list {
        margin-bottom: 30px;
        .text {
            font-size: 19px;
            color: $color-black;
        }
    }
    .item-quote {
        color: $color-body;
        font-size: 20px;
        font-style: italic;
        font-weight: $font-medium;
        line-height: 28px;
        z-index: 1;
        .shape {
            top: -20px;
            right: 0;
            z-index: -1;
        }
    }
    &.style-2 {
        z-index: 1;
        @include media-only ("lg", min) {
            margin-right: -40px;
        }
        .subtitle {
            margin-bottom: 20px;
        }
        .title {
            color: $color-black-dark;
            font-weight: $font-extra-bold;
            z-index: 1;
            &::before {
                content: "";
                width: 335px;
                height: 15px;
                background-color: $color-primary;
                position: absolute;
                top: 35px;
                z-index: -1;
                left: 90px;
            }
        }
        p {
            color: $color-paragraph;
        }
        .shape {
            top: -25%;
            left: 40px;
            z-index: -1;
        }
    }
}


.rt-feature-list {
    margin-bottom: 40px;
    li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        .rt-shape {
            height: 26px;
            width: 26px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #E6EFFF;
            svg {
                color: $color-primary;
            }
        }
        .text {
            font-weight: $font-medium;
            margin-left: 7px;
        }
    }
}
