.rt-feature-wrap {
    &.style-2 {
        padding-top: 0;
        .rt-feature-layout {
            .text-box {
                margin-right: 40px;
                margin-left: 40px;
            }
        }
    }
}

.rt-feature-layout {
    // @include media-only ("lg", min) {
    //     padding-right: 40px;
    //     padding-left: 40px;
    // }
    .text-box {
        &:nth-child(1) {
            margin-right: 65px;
        }
    }
}


.image-box {
    border-radius: 25px;
    background-color: #F7F8FD;
    width: 570px;
    height: 480px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    .item-img {
        z-index: 1;
        .img-shape {
            position: absolute;
            bottom: 25px;
            right: 100px;
            z-index: -1;
        }
    }
    .rt-blur-shape {
        li {
            &:nth-child(1) {
                width: 174px;
                height: 174px;
                background-color: #EDE2B9;
                top: 0;
                right: 0;
                z-index: -1;
            }
            &:nth-child(2) {
                width: 174px;
                height: 174px;
                background-color: #E5A5EB;
                bottom: 30px;
                right: 30px;
                top: auto;
                left: auto;
                z-index: -2;
            }
        }
    }
}