
.nav-tabs {
    border-bottom: 0;
    justify-content: end;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    .nav-item {
        margin-right: 0;
        &:last-child {
            margin-right: 0;
            .nav-link {
                margin-right: 0;
                &::before {
                    display: none;
                } 
            }
        }
        .nav-link {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            display: inline-block;
            padding: 0;
            color: $color-gray-font;
            text-transform: capitalize;
            position: relative;
            margin-right: 40px;
            font-size: 18px;
            font-weight: $font-medium;
            transition: all .4s ease-in-out;
            &:hover {
                color: $color-black-dark;
            }
            &::before {
                content: "";
                height: 2px;
                width: 10px;
                background-color: #a9a9a9;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -25px;
            }
            &:focus {
                outline: 0;
                box-shadow: none;
            }
            &.active {
                color: $color-black-dark;
            }
        }
    }
}