.rt-cta-layout {
    border-top: 1px solid #1D212F;
    padding: 70px 0;
    &.style-2 {
        border-top: 0;
        border-bottom: 1px solid #1D212F;
    }
    &.style-3 {
        background-color: $color-black-light;
        padding: 70px;
        border-radius: $border-radius-xl;
        .cta-title {
            background: linear-gradient(90deg, #FFF 6.34%, #EFAAAA 51.31%, #FFF 93.66%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .shape {
                position: absolute;
                top: -30px;
                left: -30px;
            }
        }
        p {
            font-size: 30px;
            font-weight: $font-medium;
            color: $color-white;
        }
    }
    &.style-4 {
        border-bottom: 1px solid #2C2C2C;
        .cta-title2 {
            font-size: 44px;
            font-weight: $font-bold;
            line-height: 55px;
            text-transform: capitalize;
            color: $color-white;
        }
        .quixa-button {
            .quixa-btn {
                border-radius: 100px;
                box-shadow: 0px 0px 20px 0px #062623;
            }
        }
    }
}

.rt-cta-box {
    gap: 20px;
    .quixa-button {
        .quixa-btn {
            border: 0;
        }
    }
}

// .rt-cta-wrap {
//     padding-top: 130px;
// }

.cta-title {
    background: linear-gradient(90deg, #FFF -2.1%, #8B7AF5 53.56%, #FFF 83.46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: $font-black;
    line-height: 48px;
}

.rt-cta-list {
    gap: 10px;
}